<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="/images/face3.jpg" alt="">
                    <span class="online-status online"></span>
                </div>
                <div class="profile-name">
                    <p class="name">Mai Ngân</p>
                    <p class="designation">Quản trị viên</p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="icon-rocket menu-icon"></i>
                <span class="menu-title">Danh sách order</span>
                <!-- <span class="badge badge-success">New</span> -->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order">
                <i class="icon-basket menu-icon"></i>
                <span class="menu-title">Đơn đặt hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/delivery">
                <i class="icon-handbag menu-icon"></i>
                <span class="menu-title">Đơn trả khách</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customer">
                <i class="icon-people menu-icon"></i>
                <span class="menu-title">Khách hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user">
                <i class="icon-user-female menu-icon"></i>
                <span class="menu-title">Quản trị viên</span>
            </a>
        </li>
        <li class="nav-item nav-doc">
            <a class="nav-link bg-primary" href="/setting">
                <i class="icon-settings menu-icon"></i>
                <span class="menu-title">Cài đặt</span>
            </a>
        </li>
    </ul>
</nav>